/* all html files */


li {
	margin-right: 25px;
	color: black;
}


/* suggester.html */

#plane {
	width: 35px;
	height: 40px;
	margin-right: 15px; 
	margin-left: 15px; 
	padding-bottom: 9px;
}

#main {
	width: 100%;
}

.form-control {
	width: 25%;
}

#hot_house_text, #cold_house_text, #hot_resort_text, #cold_resort_text, #both_hot_text, #both_cold_text, #feild_required {
  display: none;
}

#result {
	margin-bottom: 25px;
}

.multiple_results_img {
	width: 480px;
	height: 295px;
}

#feild_required {
	color: red;
}


/* View All */
/* references .mutliple results_img in html section */



/* Contact */

.contact {
	text-align: center;
	margin-top: 120px;
	margin-left: 200px;
	margin-right: 200px;
	padding: 90px;
	font-size: 17px;
	border: 1px solid black;

}